<!DOCTYPE html>
<html lang="en">

<head>
    <title>TM252 Admin View</title>
    <meta charset="UTF-8">
    <meta name="author" content="Ryan Le Roux">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
</head>

<body>
    <header>
        <nav>
            <div class="row header-row">
                <div class="col">
                    
                    <img src="../images/EduMax_logo.png" alt="EduMax logo" class="img-fluid header-img">
                </div>
                <div class="col header-mid-col ">
                    
                    <h1 class="header-adminview-text">EduMax Admin View</h1>

                </div>
                <div class="col text-end admin-user-text-col">

                    <div class="col nav-col col-b-and-c">
                        
                            <img src="../images/bell.png" class="col-img bell-icon" alt="notifications">
                        
                        <img src="../images/question-mark.png" class="col-img q-icon" alt="get help">
                        <h2 class="admin-user-text">Admin User</h2>

                    </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="announcement-section">
            <div class="anncmt-cont">
                <div class="anncmt-col"></div>
                <div class="anncmt-col">
                    <h1>Create an annocement</h1>
                    <form action="/admin/announcement" method="POST">
                         <!-- The following field implements the first CSRF mitigation method I discussed in Part 4 -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="name">Announcement title:</label>
                            <br>
                            <input type="text" class="form-control" id="name" name="anncmt-title" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Announcement message:</label>
                            <br>
                            <textarea id="message" class="form-control form-control-body anncmt-body" name="anncmt-body" required></textarea>
                            <br>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="hidden-field" name="item_ID" value="30001000-5000-654321fedcba">
                        </div>
                    </form>

                </div>
                <div class="anncmt-col"></div>
            </div>
        </section>
    </main>
    <script src="../js/bootstrap.min.js"></script>
    
<footer>
    <div>
        Edumax Team - 2026 ©
    </div>
</footer>
</body>

</html>